<div class="footer">
  <div class="container footer-top">
    <div class="row">
      <!--tout le contenu-->
      <div class="col-sm-4 col-lg-4">
        <div class="fot1-widget">
          <span class="anta"></span>
          <div>
            <!-- <p class="para" style="font-weight: bold; text-align: center;">Plateforme 
             de la gestion <br /> des lycées techniques l</p> -->
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4">
        <div class="foot2-widget">
          <p class="cont" style="font-weight: bold">CONTACT</p>
          <div>
            <span class="loge">
              <a>
                <fa-icon icon="map-marker"></fa-icon>
                Sphères Ministérielles de Diamniadio/CI
              </a>
            </span>
          </div>
          <br />
          <div>
            <span class="loge">
              <a>
                <fa-icon icon="phone"></fa-icon>
                338657000
              </a>
            </span>
          </div>
          <br />
          <div>
            <span class="loge">
              <a>
                <fa-icon icon="envelope"></fa-icon>
                dfpt@gmail.com
              </a>
            </span>
          </div>
          <br />
          <div>
            <span class="loge">
              <a>
                <fa-icon icon="clock"></fa-icon>
                Lundi au Vendredi de 8h à 17h
              </a>
            </span>
          </div>
          <br />
        </div>
      </div>

      <div class="col-sm-4 col-lg-4">
        <div class="foot3-widget">
          <p class="cont" style="font-weight: bold">LIENS UTILES</p>
          <div class="loge">
            <span>
              <fa-icon icon="globe"></fa-icon>
              <a href="www.mefpai.gouv.sn" class="loge">Site du MFPAI</a>
            </span>
          </div>
          <br />
          <div>
            <span class="loge">
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
              <a href="https://web.facebook.com/MEFPAIdfpt/?_rdc=1&_rdr" class="loge">Facebook de la CI </a>
            </span>
          </div>
          <br />

          <div>
            <span class="loge">
              <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
              <a href="https://twitter.com/search?q=%23MEFPAI" class="loge">Twitter du MFPAI</a>
            </span>
          </div>

          <br />

          <div>
            <span class="loge">
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
              <a href="https://www.linkedin.com/" class="loge">Linkedin du MFPAI</a>
            </span>
          </div>
          <br />
          <div>
            <span class="loge">
              <fa-icon icon="globe"></fa-icon>
              <a href="http://sigefpt.sec.gouv.sn/" class="loge">Plateforme de gestion des lycées techniques <br /></a>
            </span>
          </div>
          <br />
          <div>
            <span class="loge">
              <fa-icon icon="globe"></fa-icon>
              <a href="https://programmefpt.sec.gouv.sn/acceuil" class="loge">Plateforme de gestion des programmes <br /></a>
            </span>
          </div>
          <br />
          <div>
            <span class="loge">
              <fa-icon icon="globe"></fa-icon>
              <a href="https://e-jang.sec.gouv.sn/" class="loge">E-jang <br /></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--copyright-->
  <div class="copyright">
    <div class="container">
      <div style="font-weight: bold; text-align: center" class="loge">
        -------------------------------------------- --------------------------------------------
      </div>
      <p class="copy" style="font-weight: bold; text-align: center">Copyright © 2021 MFPAI-SN</p>
    </div>
  </div>
</div>
