<div>
  <h2 id="page-heading" data-cy="DemandeHeading">
    <span>Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande"
        [routerLink]="['/demande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Demande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandes?.length === 0">
    <span>No demandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandes && demandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading" *jhiHasAnyAuthority="['ROLE_ADMIN']">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <!-- <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col" jhiSortBy="motif"><span>Motif</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeDemandeur"><span>Type Demandeur</span> <fa-icon icon="sort"></fa-icon></th>
          <!-- <th scope="col" jhiSortBy="nom"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom"><span>Prenom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomEtab"><span>Nom Etab</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="autreNomEtab"><span>Autre Nom Etab</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th> -->
          <!-- <th scope="col" jhiSortBy="enseignant.numCNI"><span>Enseignant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="apprenant.telephone"><span>Apprenant</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="etablissement.nomEtab"><span>Etablissement</span> <fa-icon icon="sort"></fa-icon></th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/demande', demande.id, 'view']">{{ demande.id }}</a>
          </td> -->
          <td>{{ demande.motif }}</td>
          <td>{{ demande.typeDemandeur }}</td>
          <!-- <td>{{ demande.nom }}</td>
          <td>{{ demande.prenom }}</td>
          <td>{{ demande.nomEtab }}</td>
          <td>{{ demande.autreNomEtab }}</td>
          <td>{{ demande.email }}</td> -->
          <!-- <td>
            <div *ngIf="demande.enseignant">
              <a [routerLink]="['/enseignant', demande.enseignant?.id, 'view']">{{ demande.enseignant?.numCNI }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="demande.apprenant">
              <a [routerLink]="['/apprenant', demande.apprenant?.id, 'view']">{{ demande.apprenant?.telephone }}</a>
            </div>
          </td> -->
          <td>
            <div *ngIf="demande.etablissement">
              <a [routerLink]="['/etablissement', demande.etablissement?.id, 'view']">{{ demande.etablissement?.nomEtab }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande', demande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande', demande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(demande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="demandes && demandes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
