<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="enseignant">
      <h2 data-cy="enseignantDetailsHeading"><span>Enseignant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ enseignant.id }}</span>
        </dd>
        <dt><span>Matricule Ens</span></dt>
        <dd>
          <span>{{ enseignant.matriculeEns }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ enseignant.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ enseignant.prenom }}</span>
        </dd>
        <dt><span>Num CNI</span></dt>
        <dd>
          <span>{{ enseignant.numCNI }}</span>
        </dd>
        <dt><span>Annee Dentree</span></dt>
        <dd>
          <span>{{ enseignant.anneeDentree }}</span>
        </dd>
        <dt><span>Region</span></dt>
        <dd>
          <span>{{ enseignant.region }}</span>
        </dd>
        <dt><span>Departement</span></dt>
        <dd>
          <span>{{ enseignant.departement }}</span>
        </dd>
        <dt><span>Autre Dep</span></dt>
        <dd>
          <span>{{ enseignant.autreDep }}</span>
        </dd>
        <dt><span>Autre Region</span></dt>
        <dd>
          <span>{{ enseignant.autreRegion }}</span>
        </dd>
        <dt><span>Code IA</span></dt>
        <dd>
          <span>{{ enseignant.codeIA }}</span>
        </dd>
        <dt><span>Autre Code IA</span></dt>
        <dd>
          <span>{{ enseignant.autreCodeIA }}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
          <span>{{ enseignant.sexe }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ enseignant.email }}</span>
        </dd>
        <dt><span>B FPA</span></dt>
        <dd>
          <div *ngIf="enseignant.bFPA">
            <a [routerLink]="['/bfpa', enseignant.bFPA?.id, 'view']">{{ enseignant.bFPA?.nomPrenom }}</a>
          </div>
        </dd>
        <dt><span>Etablissement</span></dt>
        <dd>
          <div *ngIf="enseignant.etablissement">
            <a [routerLink]="['/etablissement', enseignant.etablissement?.id, 'view']">{{ enseignant.etablissement?.nomEtab }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/enseignant', enseignant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
