<!-- <div class="d-flex justify-content-center container"> -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <span class="imgLogin"> </span>
    </div>
    <div class="col-md-2"></div>
    <div class="font col-md-4">
      <span class="logo"></span>
      <!-- <h1 data-cy="loginTitle">Sign in</h1> -->
      <div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>
      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="mb-3">
          <label class="username-label" for="username">Nom d'utilisateur</label>
          <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Your username"
            formControlName="username"
            #username
            data-cy="username"
          />
        </div>

        <div class="mb-3">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Your password"
            formControlName="password"
            data-cy="password"
          />
        </div>
        <div class="row">
          <div class="col-md-4 form-check">
            <label class="form-check-label" for="rememberMe">
              <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
              <span>Remember me</span>
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" data-cy="submit">Sign in</button>
      </form>

      <div class="row">
        <div class="col-md-4 alert">
          <!-- <span>You don't have an account yet?</span> -->
          <a class="inscrire alert-link" routerLink="/account/register">s'inscrire</a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-3 alert">
          <a class="forget alert-link" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Mot de passe oublier?</a>
        </div>
      </div>
    </div>
  </div>
</div>
