<div class="homeFont">
  <span></span>>

  <div class="jumbotron text-center">
    <h1>Bienvenue sur la Plateforme de Gestion des Matricules (PGM)</h1>
    <p>Ministere de la Formation de l'Apprentissage et de l'Insertion</p>
  </div>
  <div class="container">
    <div class="row">
      <!-- <h2> Bienvenue sur la Plateforme de Gestion des Matricules (PGM) </h2> -->
      <div class="col-md-6">
        <span class="homeImg"></span>
        <h5>BON A SAVOIR</h5>
        <p class="p2">
          PGM est un générateur automatique de Numéro d'identifiant unique (NIU). Il permet d'immatriculer de façon unique : Les
          établissements (CFP et LT), les apprenants des EFPT, Les enseignants (vacataires et contractuels), Les matières du Ministère afin
          de préconiser la transparence la qualité et dans le systéme la formation.

          <!-- Cette plateforme est destinée aux lycees techniques et aux Centres de Formations Professionnelles et leur apprenants. Elle
          consiste à les identifier de façon unique afin de préconiser la qualité et la transparence dans le systéme la formation.
          Consernant les apprenants, ce numéro vous poursuivra tout au long de votre formation et vous facilitera l'acces aux ressources et
          matiéres scolaire dans d'autre applications en ligne -->
        </p>
        <!-- <img src="../../content/images/home1.png" class="img-circle" alt="home"> -->
      </div>
      <!-- <div class="col-md-4 ">
    <h5> BON A SAVOIR</h5>
    <p class="p2">
      Cette plateforme est destinée aux lycees techniques et aux Centres de Formations Professionnelles et leur apprenants. Elle
      consiste à les identifier de façon unique afin de préconiser la qualité et la transparence dans le systéme la formation.
      Consernant les apprenants, ce numéro vous poursuivra tout au long de votre formation et vous facilitera l'acces aux ressources et
      matiéres scolaire dans d'autre applications en ligne
    </p>
  </div> -->
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="list-group">
          <h4>NIU pour les apprenants</h4>
          <h6>le personnel administratif de l'établissement crée les matricules</h6>
          <h6>l'apprenant doit créer un compte pour visualiser son numéro</h6>
          <h6>ou pouvoire effectuer une demande</h6>
        </div>
        <div class="list-group">
          <h4>NIU pour les Enseignants</h4>
          <h6>le Ministere crée les matricules</h6>
          <h6>l'enseignant doit créer un compte pour visualiser son numéro</h6>
          <h6>ou pouvoir effectuer une demande</h6>
        </div>
        <div class="list-group">
          <h4>Codification pour les Etablissements</h4>
          <h6>le BFPA crée les identifiants</h6>
          <h6>le personnel administratif crée un compte</h6>
          <h6>il poura saisir une demande</h6>
        </div>
        <br />
        <div class="list-group">
          <h4>Codification pour les Matiéres</h4>
          <h6>Pour les matériels du ministére</h6>
          <h6>le ministére immatricule mes matières avant de les faire sortire du ministére</h6>
        </div>
      </div>

      <!-- <div class="col-md-9">
    <h1 class="display-4"><span>Welcome, Java Hipster!</span> (Jhipster Project Base JWT)</h1>

    <p class="lead">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>

    <p>If you have any question on JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a>
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li>
    </ul>

    <p>
      <span>If you like JHipster, don't forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p>
  </div>  -->
    </div>
  </div>
</div>
