<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-demande-heading" data-cy="DemandeCreateUpdateHeading">Create or edit a Demande</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-label" for="field_motif">Motif</label>
          <select class="form-control" name="motif" formControlName="motif" id="field_motif" data-cy="motif">
            <option [ngValue]="null"></option>
            <option *ngFor="let motif of motifValues" [value]="motif">{{ motif }}</option>
          </select>
          <div *ngIf="editForm.get('motif')!.invalid && (editForm.get('motif')!.dirty || editForm.get('motif')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('motif')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="field_typeDemandeur">Type Demandeur</label>
          <select
            class="form-control"
            name="typeDemandeur"
            formControlName="typeDemandeur"
            id="field_typeDemandeur"
            data-cy="typeDemandeur"
          >
            <option [ngValue]="null"></option>
            <option *ngFor="let typeDemandeur of typeDemandeurValues" [value]="typeDemandeur">{{ typeDemandeur }}</option>
          </select>
          <div
            *ngIf="
              editForm.get('typeDemandeur')!.invalid && (editForm.get('typeDemandeur')!.dirty || editForm.get('typeDemandeur')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('typeDemandeur')?.errors?.required"> This field is required. </small>
          </div>
          <!-- etab -->
          <div *ngIf="editForm.value.typeDemandeur === 'Etablissement'">
            <div class="form-group">
              <label class="form-label" for="field_nomEtab">Nom Etablissement</label>
              <select class="form-control" name="nomEtab" formControlName="nomEtab" id="field_nomEtab" data-cy="nomEtab">
                <option [ngValue]="null"></option>
                <option *ngFor="let nomEtab of nomEtabValues" [value]="nomEtab">{{ nomEtab }}</option>
              </select>
            </div>
            <div *ngIf="editForm.value.nomEtab === 'AUTRE'">
              <div class="row mb-3">
                <label class="form-label" for="field_autreNomEtab">Autre Nom Etablissement</label>
                <input
                  type="text"
                  class="form-control"
                  name="autreNomEtab"
                  id="field_autreNomEtab"
                  data-cy="autreNomEtab"
                  formControlName="autreNomEtab"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required"> This field is required. </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
          <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prenom')?.errors?.required"> This field is required. </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          onclick="return alert('votre demande a ete bien prise en compte')"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
